body{
    margin: 0px ;
}

.headline{
    
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}

.position{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}

.position > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.link{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.brand a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.brand a:hover{
    color: black;
}

.link:hover{
    border-bottom: 1px salmon;
}
.link a:hover{
    color: black;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  .tesla-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
